<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.rusty-jack</string>
    <key>ProgramArguments</key>
    <array>
        <string>@BINARY_PATH@</string>
        <string>daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUST_LOG</key>
        <string>info</string>
        <key>RUSTY_JACK_DAEMON_PKG_VERSION</key>
        <string>@DAEMON_PKG_VERSION@</string>
        <key>RUSTY_JACK_DAEMON_GIT_COMMIT</key>
        <string>@DAEMON_GIT_COMMIT@</string>
    </dict>
</dict>
</plist>
